.manga-grid {
  padding: 2rem;
  max-width: 1440px;
  margin: 0 auto;
}

.manga-card {
  background: rgba(94, 93, 93, 0.274);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  height: 100%;
  cursor: pointer;
  border: 8px solid rgba(255, 255, 255, 0.281);
  margin-bottom: 1.5rem;
}

.manga-card:hover {
  transform: translateY(-5px);
}

.manga-info {
  padding: 1.5rem;
}

.manga-info h3 {
  margin: 0;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.manga-content {
  display: flex;
  gap: 1rem;
}

.manga-cover {
  flex-shrink: 0;
  height: 150px;

  img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
  }
}

.manga-text {
  flex: 1;
  min-width: 0; // Importante para que el texto se ajuste correctamente

  h3 {
    margin: 0;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 600;
    word-wrap: break-word;
  }

  p {
    margin: 0.5rem 0 0;
    color: #ffffff;
    font-size: 0.9rem;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  padding: 0.5rem;
}

.add-button {
  margin: 2rem;
}

ion-content {
  --background: linear-gradient(135deg, rgb(19, 25, 83), rgb(82, 20, 20));
}

