<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header-title">Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="profile-container">
    <div class="profile-header">
      <div class="avatar-container">
        <ion-avatar>
          <img src="../assets/img/profile.png" alt="Avatar">
        </ion-avatar>
      </div>
      <h2>Gestionar Perfil</h2>
      <p class="subtitle">Actualiza tu información personal</p>
    </div>

    <div class="profile-content">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="profile-form">
        <ion-list>
          <ion-item lines="full">
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input 
              type="text" 
              formControlName="name"
              placeholder="Ingresa tu nombre"
              class="custom-input">
            </ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="stacked">Apellido</ion-label>
            <ion-input 
              type="text" 
              formControlName="surname"
              placeholder="Ingresa tu apellido"
              class="custom-input">
            </ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="stacked">Correo Electrónico</ion-label>
            <ion-input 
              type="email" 
              [value]="email?.value" 
              readonly
              class="custom-input readonly">
            </ion-input>
          </ion-item>
        </ion-list>

        <div class="button-container">
          <ion-button 
            expand="block" 
            type="submit" 
            [disabled]="!formGroup.valid || !formGroup.dirty"
            class="submit-button">
            <ion-icon name="save-outline" slot="start"></ion-icon>
            Guardar Cambios
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>