
 .login-container {
    padding: 16px;
  }

  .rounded-item {
    --border-radius: 20px;
    margin-bottom: 16px;
  }

  .input-error {
    font-size: 0.9rem;
    margin-top: -8px;
    margin-bottom: 16px;
  }

  .submit-button {
    --border-radius: 20px;
    --background: linear-gradient(45deg, #2365a3, #368fe2);
    --background-hover: linear-gradient(45deg, #368fe2, #2365a3);
  }

  .register-link {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.473);
    cursor: pointer;
    
  }

  .register-link:hover {
    color: white;
  }

  .ion-text-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-image {
    width: 300px;
    height: auto;
    margin-top: 0px;
  }

  ion-item {
  --highlight-color-focused: transparent; /* Quita el color de resaltado al enfocarse */
  --highlight-color-invalid: transparent; /* Quita el color cuando es inválido */
  --border-color: transparent; /* Quita el borde */


}

.rounded-item {
  --border-width: 2px; /* Grosor del borde */
  --border-color: rgba(255, 255, 255, 0.288); /* Color del borde */
  --background: none; /* Sin fondo por defecto */
  border-radius: 20px; /* Mantiene las esquinas redondeadas */
  margin-bottom: 16px; /* Espaciado inferior */
}

.rounded-item:hover {
  --border-color: rgb(164, 198, 243); /* Resalta el borde en hover */
}

