div.login-container {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: 16px; /* Espaciado para evitar bordes ajustados */
  overflow-y: auto; /* Permitir scroll vertical si el contenido crece */
}

form {
  width: 100%;
  max-width: 400px;
  height:100%;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: -8px;
  margin-bottom: 8px;
}
ion-item{
  margin-bottom:10px;
}
ion-text.input-error{
  margin-top:-10px;
}


  .login-container {
    padding: 16px;
  }

  .rounded-item {
    --border-radius: 20px;
    margin-bottom: 16px;
  }

  .input-error {
    font-size: 0.9rem;
    margin-top: -8px;
    margin-bottom: 16px;
  }

  .submit-button {
    --border-radius: 20px;
    --background: #1764ac;
}

  .register-link {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.473);
    cursor: pointer;
    
  }

  .register-link:hover {
    color: white;
  }

  .ion-text-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-image {
    width: 300px;
    height: auto;
    margin-top: 0px;
  }

  ion-item {
  --highlight-color-focused: transparent; /* Quita el color de resaltado al enfocarse */
  --highlight-color-invalid: transparent; /* Quita el color cuando es inválido */
  --border-color: transparent; /* Quita el borde */


}

.rounded-item {
  --border-width: 2px; /* Grosor del borde */
  --border-color: rgba(255, 255, 255, 0.288); /* Color del borde */
  --background: none; /* Sin fondo por defecto */
  border-radius: 20px; /* Mantiene las esquinas redondeadas */
  margin-bottom: 16px; /* Espaciado inferior */
}

.rounded-item:hover {
  --border-color: rgb(164, 198, 243); /* Resalta el borde en hover */
}

a{
  color: white;
}




