
<ion-content [fullscreen]="true" scrollY="true">
  <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <ion-grid>
        <ion-row>
          <ion-col style="display:flex" class="ion-justify-content-center">
            <img src="assets/img/banner.png" alt="Logo MyManga" class="logo-image">
          </ion-col>
        </ion-row>
      </ion-grid>

     

      <ion-item class="rounded-item">
        <ion-input 
          labelPlacement="floating" 
          label="Email" 
          type="email" 
          formControlName="email" 
          required>
        </ion-input>
      </ion-item>
      
      <ion-item class="rounded-item">
        <ion-input 
          labelPlacement="floating" 
          label="Contraseña" 
          [type]="showPassword ? 'text' : 'password'" 
          formControlName="password" 
          required>
        </ion-input>
        
        <ion-icon 
          [name]="showPassword ? 'eye-off' : 'eye'" 
          slot="end" 
          (click)="togglePasswordVisibility()">
        </ion-icon>
      </ion-item>
      
      <ion-text class="input-error" color="danger" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
        <p *ngIf="email?.errors?.['required']">*Debe introducir un email</p>
        <p *ngIf="email?.errors?.['email']">*Debe introducir un email correcto</p>
      </ion-text>
      
      <ion-text class="input-error" color="danger" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
        <p *ngIf="password?.errors?.['required']">*Debe introducir una contraseña</p>
      </ion-text>
      
      <ion-button expand="block" type="submit" [disabled]="loginForm.invalid" class="submit-button">
        <a>Iniciar sesión</a>
      </ion-button>

      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <a (click)="onRegister()" class="register-link">
              ¿No tienes cuenta?
            </a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>


