<ion-app class="manga-app">
  <ion-header>
    <ion-toolbar color="dark" *ngIf="authSvc.authenticated$ | async">
      <ion-buttons slot="start">
        <ion-button routerLink="/home">
          <ion-icon slot="start" name="home"></ion-icon>
          {{ 'MENU.HOME' | translate }}
        </ion-button>
        <ion-button  routerLink="/people">
          <ion-icon slot="start" name="people"></ion-icon>
          {{ 'MENU.PEOPLE' | translate }}
        </ion-button>
        <ion-button  routerLink="/groups">
          <ion-icon slot="start" name="bookmarks"></ion-icon>
          {{ 'MENU.GROUPS' | translate }}
        </ion-button>
      </ion-buttons>
 
      <ion-buttons slot="end">
        <ion-button *ngIf="authSvc.authenticated$ | async" (click)="logout()" color="danger">
          <ion-icon slot="start" name="log-out"></ion-icon>
          {{ 'MENU.LOGOUT' | translate }}
        </ion-button>
        <ion-text>
          {{ (authSvc.user$ | async)?.username}}
        </ion-text>
        <ion-avatar *ngIf="authSvc.authenticated$ | async" routerLink="/profile" class="profile-avatar">
          <img [src]="'https://ionicframework.com/docs/img/demos/avatar.svg'" alt="Avatar" />
          <ion-label>{{ (authSvc.user$ | async)?.username }}</ion-label>
        </ion-avatar>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
 
  <ion-router-outlet id="mainContent"></ion-router-outlet>
 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="lang-fab" *ngIf="authSvc.authenticated$ | async">
    <ion-fab-button size="small" color="tertiary">
      <ion-icon name="language"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="changeLanguage('es')" [color]="currentLang === 'es' ? 'primary' : 'medium'">
        <ion-text>ES</ion-text>
      </ion-fab-button>
      <ion-fab-button (click)="changeLanguage('en')" [color]="currentLang === 'en' ? 'primary' : 'medium'">
        <ion-text>EN</ion-text>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
 </ion-app>