<ion-app class="manga-app">
  <ion-header>
    <ion-toolbar color="dark" *ngIf="authSvc.authenticated$ | async">
      <ion-buttons slot="start">
        <ion-button routerLink="/home">
          <ion-icon slot="start" name="home"></ion-icon>
          {{ 'MENU.HOME' | translate }}
        </ion-button>
        <ion-button  routerLink="/people">
          <ion-icon slot="start" name="people"></ion-icon>
          {{ 'MENU.PEOPLE' | translate }}
        </ion-button>
        <ion-button  routerLink="/groups">
          <ion-icon slot="start" name="bookmarks"></ion-icon>
          {{ 'MENU.GROUPS' | translate }}
        </ion-button>
        <ion-button  routerLink="/about">
          <ion-icon slot="start" name="information-circle"></ion-icon>
          {{ 'MENU.ABOUT' | translate }}
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button id="profile-trigger">
          <ion-text class="username-text">
            {{ (authSvc.user$ | async)?.username}}
          </ion-text>
          <ion-avatar *ngIf="authSvc.authenticated$ | async" class="profile-avatar">
            <img [src]="profilePicture" alt="Avatar">
          </ion-avatar>
        </ion-button>
      
        <ion-popover trigger="profile-trigger" [dismissOnSelect]="false" side="bottom" alignment="end">
          <ng-template>
            <ion-content class="custom-popover">
              <ion-list lines="none">
                <ion-item button routerLink="/profile" detail="false" class="open-profile">
                  <ion-icon slot="start" name="person-outline"></ion-icon>
                  <ion-label>{{ 'PROFILE.TITLE' | translate }}</ion-label>
                </ion-item>
                <ion-item button (click)="logout()" detail="false" class="logout-item">
                  <ion-icon slot="start" name="log-out-outline"></ion-icon>
                  <ion-label>{{ 'MENU.LOGOUT' | translate }}</ion-label>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-buttons>
      
    </ion-toolbar>
  </ion-header>
 
  <ion-router-outlet id="mainContent"></ion-router-outlet>
 
  <ion-fab vertical="bottom" horizontal="top" slot="fixed" class="lang-fab" *ngIf="authSvc.authenticated$ | async">
    <ion-fab-button size="small" color="tertiary">
      <ion-icon name="language"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button (click)="changeLanguage('es')" [color]="currentLang === 'es' ? 'primary' : 'medium'">
        <ion-text>ES</ion-text>
      </ion-fab-button>
      <ion-fab-button (click)="changeLanguage('en')" [color]="currentLang === 'en' ? 'primary' : 'medium'">
        <ion-text>EN</ion-text>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
 </ion-app>