<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Crear cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="register-container">
    
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <!-- Título -->
      <ion-text class="title-text">
        <h1>Crear una cuenta</h1>
      </ion-text>

      <!-- Link para iniciar sesión -->
      <ion-text class="sub-title-text">
        
        <ion-button fill="clear" color="primary">
          ¿Tienes una cuenta? 
        </ion-button>
        <ion-button fill="clear" (click)="onLogin()" color="tertiary">
          Inicia sesión
        </ion-button>
      </ion-text>

      <!-- Campo para el usuario -->
      <ion-item>
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-input labelPlacement="floating" label="Usuario" type="text" formControlName="user" required></ion-input>
      </ion-item>

      <!-- Campo de Email -->
      <ion-item>
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-input labelPlacement="floating" label="Email" type="email" formControlName="email" autocomplete="off" required></ion-input>
      </ion-item>

      <!-- Campo de Contraseña -->
      <ion-item>
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input labelPlacement="floating" label="Contraseña" type="password" formControlName="password" required></ion-input>
      </ion-item>

      <!-- Campo de Confirmación de Contraseña -->
      <ion-item>
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input labelPlacement="floating" label="Repita contraseña" type="password" formControlName="confirmPassword" required></ion-input>
      </ion-item>

      <!-- Mensajes de error -->
      <ion-text class="input-error" color="danger" *ngIf="registerForm.errors?.['passwordsMismatch']">
        <p>*Las contraseñas no coinciden</p>
      </ion-text>

      <!-- Botón para crear la cuenta -->
      <ion-button expand="block" type="submit" color="primary" [disabled]="registerForm.invalid">
        <ion-icon name="person-add-outline" slot="start"></ion-icon>
        Crear cuenta
      </ion-button>
    </form>
  </div>
</ion-content>
